<div class="nav">
    <div class="container-fluid">
        <a class="btn btn-outline-success" routerLink="/imoveis-incluir">Imoveis Incluir</a>

    </div>
</div>
<div class="container">

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Endereço</th>
            <th scope="col">CEP</th>
            <th scope="col">Valor Aluguel</th>
            <th scope="col">Valor IPTU</th>
            <th scope="col">Proprietario</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Rua Noel Rosa nº372, Pq. Virgilio Viel, Sumaré-SP </td>
            <td>13175613</td>
            <td>950</td>
            <td>30</td>
            <td>Adauto</td>
          </tr>
        </tbody>
      </table>
</div>


