<div class="nav">
    <div class="container-fluid">
        <a class="btn btn-outline-success" routerLink="/imoveis-incluir">Imoveis Incluir</a>

    </div>
</div>
<div class="container">

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Endereço</th>
            <th scope="col">CEP</th>
            <th scope="col">Valor Aluguel</th>
            <th scope="col">Valor IPTU</th>
            <th scope="col">Proprietario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let imovel of imoveis">
            <td>{{imovel.endereco}}</td>
            <td>{{imovel.cep}}</td>
            <td>{{imovel.valor_aluguel}}</td>
            <td>{{imovel.valor_iptu}}</td>
            <td>{{imovel.proprietario.nome}}</td>
          </tr>
        </tbody>
      </table>
</div>


