<div class="container">
  <a class="btn btn-outline-success my-3" routerLink="/contratos-incluir" style="float:right;">Contratos Incluir</a>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Data de Inicio</th>
            <th scope="col">Data de Rescisão</th>
            <th scope="col">Valor Aluguel</th>
            <th scope="col">Valor Caução</th>
            <th scope="col">Dia de Pagamento</th>
            <th scope="col">Inquilino</th>
            <th scope="col">Imóvel</th>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <tr *ngFor="let contrato of contratos">
              <td>{{contrato.data_inicio | date:'dd/MM/YYYY'}}</td>
              <td>{{contrato.data_final | date:'dd/MM/YYYY'}}</td>
              <td>{{contrato.valor_aluguel | currency:'R$ '}}</td>
              <td>{{contrato.valor_caucao | currency:'R$ '}}</td>
              <td>{{contrato.data_pagamento}}</td>
              <td>{{contrato.inquilino.nome}}</td>
              <td>{{contrato.imovel.referencia}} - {{contrato.imovel.endereco}}</td>
              <td>
                <a href="http://localhost:3000/contratos/imprimir/{{contrato._id}}" target="_blank" class="btn btn-secondary"> <i class="bi bi-printer"></i></a>
                <a [routerLink]="['/contratos-editar', contrato._id]" class="btn btn-secondary"> <i class="bi bi-pencil-square"></i></a>
                <a [routerLink]="['/pagamentos', contrato._id]" class="btn btn-secondary"> <i class="bi bi-graph-up"></i></a>
              </td>
            </tr>
        </tbody>
      </table>
</div>

