<div class="nav">
    <div class="container-fluid">
        <a class="btn btn-outline-success" routerLink="/contratos-incluir">Contratos Incluir</a>

    </div>
</div>
<div class="container">

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data de Inicio</th>
            <th scope="col">Data de Rescisão</th>
            <th scope="col">Valor Aluguel</th>
            <th scope="col">Valor Caução</th>
            <th scope="col">Dia de Pagamento</th>
            <th scope="col">Inquilino</th>
            <th scope="col">Imóvel</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>27/01/2021</td>
            <td>26/01/2022</td>
            <td>950</td>
            <td>1900</td>
            <td>27</td>
            <td>Cesar</td>
            <td>Casa Virgilio Viel</td>
          </tr>
        </tbody>
      </table>
</div>

