<div class="nav">
    <div class="container-fluid">
        <a class="btn btn-outline-success" routerLink="/contratos-incluir">Contratos Incluir</a>

    </div>
</div>
<div class="container">

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Data de Inicio</th>
            <th scope="col">Data de Rescisão</th>
            <th scope="col">Valor Aluguel</th>
            <th scope="col">Valor Caução</th>
            <th scope="col">Dia de Pagamento</th>
            <th scope="col">Inquilino</th>
            <th scope="col">Imóvel</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <tr *ngFor="let contrato of contratos">
              <td>{{contrato.data_inicio}}</td>
              <td>{{contrato.data_final}}</td>
              <td>{{contrato.valor_aluguel}}</td>
              <td>{{contrato.valor_caucao}}</td>
              <td>{{contrato.data_pagamento}}</td>
              <td>{{contrato.inquilino}}</td>
              <td>{{contrato.imovel}}</td>
            </tr>
        </tbody>
      </table>
</div>

