<div class="container">
<h1>Incluir Imovel</h1>

<form>
    <div class="form-group">
      <label for="endereco">Endereço</label>
      <input type="text" class="form-control" id="endereco">
      <div class="alert alert-danger">
        Endereco is required
      </div>
    </div>

    <div class="form-group">
      <label for="cep">CEP</label>
      <input type="number" class="form-control" id="cep">
      <div class="alert alert-danger">
        CEP is required
      </div>
    </div>

    <div class="form-group">
        <label for="valor_aluguel">Valor do Aluguel</label>
        <input type="number" class="form-control" id="valor_aluguel">
        <div class="alert alert-danger">
          Valor do Aluguel is required
      </div>
    </div>

      <div class="form-group">
        <label for="valor_iptu">Valor do IPTU</label>
        <input type="number" class="form-control" id="valor_iptu">
        <div class="alert alert-danger">
          Valor do IPTU is required
      </div>
    </div>

    <div class="form-group">
        <label for="proprietario">Proprietario</label>
        <input type="text" class="form-control" id="proprietario">
        <div class="alert alert-danger">
          Proprietario is required
        </div>
      </div>

    <button type="button" class="btn btn-default">Adicionar</button>

  </form>


</div>