<div class="container">

  <a class="btn btn-outline-success my-3" routerLink="/pessoas-incluir" style="float:right;">Pessoas Incluir</a>
  
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Data de nascimento</th>
          <th scope="col">Endereço</th>
          <th scope="col">PIX</th>
          <th scope="col">Contato</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas">
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.cpf | mask: 'CPF_CNPJ'}}</td>
          <td>{{pessoa.data_nascimento | date:'dd/MM/YYYY'}}</td>
          <td>{{pessoa.endereco}}</td>
          <td>{{pessoa.pix}}</td>
          <td>{{pessoa.contato | mask: '(00) 0 0000-0000'}}</td>
          <td><a [routerLink]="['/pessoas-editar', pessoa._id]" class="btn btn-secondary"> <i class="bi bi-pencil-square"></i> </a></td>
        </tr>
      </tbody>
    </table>
</div>
