<div class="nav">
    <div class="container-fluid">
        <a class="btn btn-outline-success" routerLink="/pessoas-incluir">Pessoas Incluir</a>

    </div>
</div>
<div class="container">

  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Data de nascimento</th>
          <th scope="col">Endereço</th>
          <th scope="col">PIX</th>
          <th scope="col">Contato</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Cesar Gautama Pereira Sá </td>
          <td>44136365896</td>
          <td>19/09/1998</td>
          <td>Rua Idalina Rodrigues da Silva nº 51, Jardim dos Ipês, Sumaré-SP</td>
          <td>19981004013</td>
          <td>38831917</td>
        </tr>
      </tbody>
    </table>
</div>
